<h1 style="margin: 50px 25px"><%= @restaurant.name %></h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet cumque optio, tempora laboriosam, odit praesentium impedit at fuga sequi architecto ea aperiam? Vitae itaque autem eligendi quisquam optio deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet doloribus nesciunt ducimus quaerat velit! Autem aperiam fugiat eius iusto nobis esse ipsum doloremque tenetur id natus! Cum, magni. Consectetur, necessitatibus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ullam quo cumque quas vitae quisquam aperiam ad quia obcaecati voluptatum eaque maiores vel, fuga doloremque ducimus, dolores vero, accusamus provident.</p>

<div style="width: 900px; margin: 50px auto; display: flex; justify-content: center; gap: 150px">
  <div>
    <h3>Visit us at </h3><%= @restaurant.address %><br><br><br>
  </div>
  <div>
    <h3>Contact us !</h3>
    <%= @restaurant.phone_number %>
  </div>
</div>

<h3>Read our reviews:</h3>

<ul style="width: 600px; margin: 0 auto;"class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li style="text-align: center;" class="list-group-item"><%= "⭐️" * review.rating %> <%= review.content %></li>
  <% end %>
</ul>


<h2><%= link_to("Post a review !", new_restaurant_review_path(@restaurant)) %></h2>
