<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <h2>FIND YOUR RESTAURANT !</h2>
    <ul>
      <li><%= link_to("ALL RESTAURANTS", restaurants_path, class: "btn btn-primary") %></li>
      <li><%= link_to("CREATE A RESTAURANT", new_restaurant_path, class: "btn btn-primary") %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
